<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SiteSurveyor</Name>
    <Version>1.0.8</Version>
    <Title>SiteSurveyor Installer</Title>
    <Publisher>Eineva Incorporated</Publisher>
    <ProductUrl>https://sitesurveyor.dev</ProductUrl>
    <StartMenuDir>SiteSurveyor</StartMenuDir>
    <TargetDir>@HomeDir@/SiteSurveyor</TargetDir>
    
    <!-- Style -->
    <WizardStyle>Modern</WizardStyle>
    <WizardDefaultWidth>600</WizardDefaultWidth>
    <WizardDefaultHeight>450</WizardDefaultHeight>
    
    <!-- Maintenance Tool -->
    <MaintenanceToolName>SiteSurveyorMaintenanceTool</MaintenanceToolName>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>
